<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Hello World!</h1>
			</div>
			<div class="login-form">
				<input type="submit" name="start" value="Enter filesystem" class="btn btn-primary btn-large btn-block">
				<input type="submit" name="logout" value="Log out" class="btn btn-primary btn-large btn-block">
			</div>
		</div>
	</div>
</form>

{% endblock %}
